[submodule "f2_decimator"]
	path = f2_decimator
	url = git@bwrcrepo.eecs.berkeley.edu:dsp-blocks/chisel/f2_decimator.git
[submodule "prog_delay"]
	path = prog_delay
	url = git@bwrcrepo.eecs.berkeley.edu:fader2/chisel/prog_delay.git
[submodule "clkmux"]
	path = clkmux
	url = git@bwrcrepo.eecs.berkeley.edu:dsp-blocks/chisel/clkmux.git
